
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Final Year project</h5>
          <p class="grey-text text-lighten-4">This project was build to partially statisfy the 
            requirments to complete course BCA part-3  under the Pt. Ravishankar Shukla University. 
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">About Me</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">About Project</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made with &hearts; for Disha College. A Product by &copy; Prashant Dhirendra    
      <a class="grey-text text-lighten-4 right" href="#!">About Dev</a>
      </div>
    </div>
  </footer>