<div class="row">	
	<div class="sideBar col s12 m3 l2 " >
		<ul class="collection with-header">
			<li class="collection-item grey lighten-2"><a routerLink="/user">User</a></li>
			<li class="collection-item"><a routerLink="/user/update">Update profile</a></li>
			<li class="collection-item"><a routerLink="/user/subscribed">My Subscription</a></li>
			<li class="collection-item"><a routerLink="/user/membership">My Membership</a></li>
			<li class="collection-item"><a routerLink="/user/deleteMe">Delete Account</a></li>			
			<div *ngIf="isAdmin">
			<li class="collection-item grey lighten-2">Admin</li>
			<li class="collection-item"><a>Post Notice</a></li>
			<li class="collection-item"><a>Manage Notice</a></li>
			<li class="collection-item"><a>Manage Boards</a></li>
			<li class="collection-item"><a>Manage Users</a></li>
			</div>
		</ul>
	</div>

	<div class="col s12 m6 l6 offset-m1 offset-l1 mainSection">
		<router-outlet></router-outlet>
	</div>
</div>