<nav>
	<div class="nav-wrapper">
		<a href="#!" class="brand-logo">E-Notice</a>
		<a 
		materialize="sideNav" [materializeParams]="[{edge:'left'}]"
		href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a routerLink="">Boards</a></li>
			<li *ngIf="!isLogedIn; else logedBlock"><a routerLink="user/login">Log-In</a></li>
			<ng-template #logedBlock >
				<li><a routerLink="">Profile</a></li>
				<li *ngIf="isAdmin"><a routerLink="">Admin Panel</a></li>
				<li><a (click)="logOut()" routerLink="">Log-Out</a></li>
			</ng-template>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><a routerLink="">Boards</a></li>
			<li *ngIf="!isLogedIn; else logedBlock"><a routerLink="user/login">Log-In</a></li>
			<ng-template #logedBlock>
				<li><a routerLink="">Profile</a></li>
				<li *ngIf="isAdmin"><a routerLink="">Admin Panel</a></li>
				<li><a (click)="logOut()" routerLink="">Log-Out</a></li>
			</ng-template>
		</ul>
	</div>
</nav>